@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0.5rem;
}

body {
  font-size: 1rem;
  background: #fff;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}

.top {
  display: flex;
  justify-content: space-between;
}

.menuIcon {
  margin-left: 2%;
}

.profilPic {
  margin-top: 10px;
}

.title {
  color: #006fff;
  font-family: 'Roboto' , sans-serif;
}

